- content_for :content do
  #error.alert.alert-error{:style=>'display: none;'}
    = h(t('runit.error', :err => '<span id="url"></span>'))
    %span .
  #services= t('runit.loading')
- content_for :footer do
  %p= t('runit.footer', :sec => '<span id="service-refresh-interval">?</span>')

