<% content_for :content do %>
    <%= t.runit.services.log.header(h(name), h(host_name)) %>
    <pre><%= h(text) %></pre>
<% end %>
<% content_for :footer do %>
    <p>
        <%= t.runit.services.log.updated(Time.now.utc) %> <a href="javascript:;" rel="nofollow" onclick="window.location.reload()"><%= t.runit.services.log.reload %></a>
    </p>
<% end %>
