body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
form.service-action, form.service-signal
{
  display: inline;
}

span.inactive {color:gray;}
span.down {color:#8a1f11;}
span.run {color:#264409;}
span.danger {color:red;}

#services { text-align: center; }

